<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.java.main.dao.userDAO">
    <!--获得所有用户信息 -->
    <select id="getUsers" resultType="User">
        select userName from user
    </select>
    
     <!--查找指定用户信息 -->
     <select id="getUser" resultType="User">
        select * from user WHERE userName = #{name}
    </select>
    
     <!--插入指定用户信息 -->
    <insert id="InsertUser">
	  insert into user (userName,password) values (#{0},#{1})
	</insert>
</mapper>